#biograf{
    background-color: tomato;
    text-align: center;
    width: 100%;
    height: 600px;
    
}

#biograf h4{

    padding-top: 40px;
    font-size: 150%;
    color: aliceblue;
    text-decoration-style: double;

}