@font-face{
    font-family: "anton";
    src: url("../font/Anton-Regular.ttf");
}

@font-face{
    font-family: "indie";
    src: url("../font/IndieFlower-Regular.ttf");
}

@font-face{
    font-family: "mansalva";
    src: url("../font/Mansalva-Regular.ttf");
}